<p>Title: {{input type="text" value=post.title}}</p>
<p>Author: {{input type="text" value=post.author}}</p>
<p>Video Url: {{input type="text" value=post.videoUrl}}
<p>Post Body: {{textarea value=post.body}}</p>
<button {{action "saveRecord"}}>Save</button>