<h1>Sign up for Ember Sparks</h1>
<p>Name: {{input type="text" value=name}}</p>
<p>Email: {{input type="text" value=email}}</p>
<p>Password: {{input type="password" value=password}}</p>
<p>Password Confirmation: {{input type="password" value=passwordConfirmation}}</p>
<button {{action 'save'}}>Sign Up</button>